# data files
/beta
/expansions
/specials

# build files
/bin
/build
/obj

# dependencies
/event
/freetype
/sqlite3
/ikpmp3
/irrklang
/irrlicht
/lua

# gframe additionals
/gframe/ygopro.ico
/gframe/ygopro.rc
/gframe/ygopro.aps
/gframe/ygopro.icns
/gframe/dirent.h

# git repos
/CustomTools
/DataEditorX
/Magic*
/pics
/Printer
/script
/ygopro-*
/*-Cards

# libs
/*.dll
/*.so
/*.dylib

# windbot related files
/[Bb]ot.conf
/[Bb]ot.exe
/[Ww]ind[Bb]ot

# ygopro config file
/system_user.conf

# ygopro folders
/deck
/fonts
/replay
/single
/sound
/update

# ygopro main program
/ygopro
/ygopro_*
/ygopro.exe
/ygopro_*.exe
/ygopro.app
/ygopro_*.app
/premake5
/premake5.exe

# 2pick related temp files
/card_list.txt
/card_list_*.txt

# others
*.log
/.vscode
/bak/
/temp
/PrinterData.txt
/ygopro_*.bat
