/expansions/*
/bak/
/bin/
/build/
/event/
/freetype/
/gframe/ygopro.ico
/gframe/ygopro.rc
/gframe/ygopro.aps
/gframe/ygopro.icns
/irrlicht/
/lua/
/obj/
/sqlite3/
/irrklang/
/ikpmp3/
premake5.exe
/ygopro_build.bat
